In [2]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName('heart-disease-mining-clean') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.2.1-bin-hadoop2.7/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/17 10:53:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_dirt= spark.read.csv('Datasets/heart_2022_with_nans - with dirt.csv', header=True, inferSchema=True)
for column in df_dirt.columns:
    null_count = df_dirt.filter(df_dirt[column].isNull()).count()
    print(f"Column '{column}': {null_count} null values")

Column 'State': 0 null values

Column 'Sex': 0 null values

Column 'GeneralHealth': 1198 null values

Column 'PhysicalHealthDays': 10927 null values

Column 'MentalHealthDays': 9067 null values

Column 'LastCheckupTime': 8308 null values

Column 'PhysicalActivities': 1093 null values

Column 'SleepHours': 5453 null values

Column 'RemovedTeeth': 11360 null values

Column 'HadHeartAttack': 3065 null values

Column 'HadAngina': 4405 null values

Column 'HadStroke': 1557 null values

Column 'HadAsthma': 1773 null values

Column 'HadSkinCancer': 3143 null values

Column 'HadCOPD': 2219 null values

Column 'HadDepressiveDisorder': 2812 null values

Column 'HadKidneyDisease': 1926 null values

Column 'HadArthritis': 2633 null values

Column 'HadDiabetes': 1087 null values

Column 'DeafOrHardOfHearing': 20647 null values

Column 'BlindOrVisionDifficulty': 21564 null values

Column 'DifficultyConcentrating': 24240 null values

Column 'DifficultyWalking': 24012 null values

Column 'DifficultyDressingBathing': 23915 null values

Column 'DifficultyErrands': 25656 null values

Column 'SmokerStatus': 35462 null values

Column 'ECigaretteUsage': 35660 null values

Column 'ChestScan': 56046 null values

Column 'RaceEthnicityCategory': 14057 null values

Column 'AgeCategory': 9079 null values

Column 'HeightInMeters': 28652 null values

Column 'WeightInKilograms': 42078 null values

Column 'BMI': 48806 null values

Column 'AlcoholDrinkers': 46574 null values

Column 'HIVTesting': 66127 null values

Column 'FluVaxLast12': 47121 null values

Column 'PneumoVaxEver': 77040 null values

Column 'TetanusLast10Tdap': 82516 null values

Column 'HighRiskLastYear': 50623 null values

Column 'CovidPos': 50764 null values

In [4]:
# use groupby to calculate value counts for 'SmokerStatus'
smoker_status_counts = df_dirt.groupBy('SmokerStatus').count().orderBy('count', ascending=False)
smoker_status_counts.show()

+--------------------+------+
|        SmokerStatus| count|
+--------------------+------+
|        Never smoked|245955|
|       Former smoker|113769|
|Current smoker - ...| 36003|
|                null| 35462|
|Current smoker - ...| 13938|
|     Previous smoker|     5|
+--------------------+------+

In [5]:
smoker_status_counts = df_dirt.groupBy('AgeCategory').count().orderBy('count', ascending=False)
smoker_status_counts.show()

+---------------+-----+
|    AgeCategory|count|
+---------------+-----+
|   Age 65 to 69|47098|
|   Age 60 to 64|44511|
|   Age 70 to 74|43472|
|   Age 55 to 59|36821|
|Age 80 or older|36250|
|   Age 50 to 54|33644|
|   Age 75 to 79|32516|
|   Age 40 to 44|29942|
|   Age 45 to 49|28531|
|   Age 35 to 39|28526|
|   Age 18 to 24|26941|
|   Age 30 to 34|25806|
|   Age 25 to 29|21989|
|           null| 9079|
|             78|    1|
|             67|    1|
|             76|    1|
|             88|    1|
|             34|    1|
|             26|    1|
+---------------+-----+

In [6]:
df_dirt.describe('WeightInKilograms').show()

+-------+-----------------+
|summary|WeightInKilograms|
+-------+-----------------+
|  count|           403054|
|   mean|83.10065152559405|
| stddev|27.15749401703654|
|    min|            22.68|
|    max|          10659.0|
+-------+-----------------+